*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    transition: all .1s linear;
}

body {
    background-color: #FAFBDF;
    width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.head_logo h2 {
    font-family: Pacifico;
    font-size: 32px;
    line-height: 40.82px;
    text-transform: uppercase;
    color: #E0E257;
}

.head_logo p {
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0000009E;
}

.head_contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.head_contact a {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: black;
}

.button_active {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    background: #B7E557;
    padding: 25px 66px 25px 66px;
    border-radius: 35px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.button_active:hover {
    filter: brightness(0.9);
}

.button_active:active {
    filter: brightness(1);
}

.first_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    margin-top: 80px;
}

.first_block div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first_block h1 {
    font-family: Yanone Kaffeesatz;
    font-size: 70px;
    font-weight: 700;
    line-height: 69.44px;
}

.first_block p {
    font-family: Raleway;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-wrap: balance;
}

.first_block button {
    margin-top: 20px;
    width: max-content;
}

/* услуги */

.service {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.service h2 {
    font-family: Yanone Kaffeesatz;
    font-size: 60px;
    line-height: 59.52px;
    margin-top: 115px;
    margin-bottom: 25px;
}

.service_items {
    display: flex;
    justify-content: space-around;
}

.service_items aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 300px;
}

.service_items aside span {
    font-family: Yanone Kaffeesatz;
    font-size: 40px;
    font-weight: 700;
    line-height: 39.68px;
    background-color: #B7E557;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;    
}

.service_items aside p {
    font-family: Yanone Kaffeesatz;
    font-size: 24px;
    font-weight: 500;
    line-height: 23.81px;
    text-align: center;
}

/* кейсы */

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 0 50px;
}

.portfolio h2 {
    font-family: Yanone Kaffeesatz;
    font-size: 60px;
    font-weight: 700;
    line-height: 59.52px;
    margin-top: 115px;
    margin-bottom: 25px;    
}

.portfolio_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.portfolio_item {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 27px;
    background-color: #F9FADD;
    box-shadow: 0px 8px 24px 0px #A1A1A1A6;
    padding: 40px;
}

.portfolio_item h3 {
    font-family: Yanone Kaffeesatz;
    font-size: 40px;
    font-weight: 700;
    line-height: 39.68px;    
}

.portfolio_item li, p {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.portfolio_item p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio_item span {
    font-family: Yanone Kaffeesatz;
    font-size: 25px;
    font-weight: 700;
    line-height: 24.8px;    
}

/* наши клиенты */

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    padding: 0 50px;
}

.client h2 {
    font-family: Yanone Kaffeesatz;
    font-size: 60px;
    line-height: 59.52px;   
    margin-bottom: 75px; 
    margin-top: 115px;
}

.swiper {
    width: 100%;
}

.client_wrapper {
    width: 1600px !important;
    overflow: hidden;
    margin: auto;
    margin-left: 100px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    margin: 0 10px;
    background-color: #FAFBDF;
    width: 50px !important;
    border-radius: 10px;
}

/* отзывы */

.feet_swiper img {
    width: 280px;
}

.feet_swiper .swiper-wrapper {
    justify-content: start;
}

/* подвал */

footer {
    margin-top: 60px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_content {
    display: flex;
    gap: 24px;

    font-family: Raleway;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em; 
}

.foot_content a {
    color: black;
    font-family: Raleway;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;    
}

.foot_content a:hover {
    text-decoration: underline;
}

.foot_content div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.foot_content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
       
}


.foot_nav {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
}

.foot_content h3 {
    font-family: Yanone Kaffeesatz;
    font-size: 40px;
    font-weight: 700;
    line-height: 39.68px;    
}

